<div flex="" layout-align="center center" style="text-align: center; margin-left: 30px; margin-right: 30px;" layout="column" class="ng-scope layout-align-center-center layout-column flex">
    <div style="margin-bottom: -5px;">
        <img style="margin-right: 8px; cursor: pointer;" ng-src="images/info_icon.png" onclick="window.open(this.src)"/>
        <img style="margin-left: 8px; cursor: pointer;" ng-src="images/info_icon.png" onclick="window.open(this.src)"/>
    </div>
    <div>
        <img src="images/t1.png" style="cursor: pointer;" onclick="window.open(this.src)"/>
    </div>
    <div>
        <span style="color:white;"><b>Hunt</b></span>
    </div>
</div>