<div md-whiteframe="5" class="teamcreationtop">

</div>
<div md-whiteframe="5" class="teamcreationtabscontainer">
  <div class="teamcreationtabs">
    <md-button class="md-raised">Transfers</md-button>
    <md-button class="md-raised md-primary">Performance</md-button>
  </div>
  <div class="teamcreation" ng-style="{'background-image':'url(images/fieldbg.png)','background-position': 'center center', 'background-size': '100% 80%'}">
    <div layout-align="center center" style="text-align: center;" layout="row" class="ng-scope layout-align-center-center layout-row flex">
      <ng-include src="'views/player.html'"></ng-include>
    </div>
    <div layout-align="center center" style="text-align: center;" layout="row" class="ng-scope layout-align-center-center layout-row flex">
      <ng-include src="'views/player.html'"></ng-include>
      <ng-include src="'views/player.html'"></ng-include>
      <ng-include src="'views/player.html'"></ng-include>
    </div>
    <div layout-align="center center" style="text-align: center;" layout="row" class="ng-scope layout-align-center-center layout-row flex">
      <ng-include src="'views/player.html'"></ng-include>
      <ng-include src="'views/player.html'"></ng-include>
      <ng-include src="'views/player.html'"></ng-include>
      <ng-include src="'views/player.html'"></ng-include>
    </div>
    <div layout-align="center center" style="text-align: center;" layout="row" class="ng-scope layout-align-center-center layout-row flex">
      <ng-include src="'views/player.html'"></ng-include>
      <ng-include src="'views/player.html'"></ng-include>
      <ng-include src="'views/player.html'"></ng-include>
      <ng-include src="'views/player.html'"></ng-include>
      <ng-include src="'views/player.html'"></ng-include>
    </div>
  </div>
</div>